<ion-view view-title="Videos">

  <!--<ion-view view-title="Todos"> 를 하면 상세페이지로 되나보다.. -->
  <!-- ion-content : 가변크기, scrolling 된다 -->
  <ion-content>
    <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap"
                item="item"
                href="#/tab/videos/{{item.id}}" class="item-remove-animate">
        <ion-delete-button class="ion-minus-circled button-assertive"></ion-delete-button>

        <img ng-src="{{item.face}}">
        <h2>{{ item.name }}</h2>
        <p>{{ item.lastText }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>


      <!--<ion-item ng-repeat="item in items"-->
      <!--item="item"-->
      <!--href="#/item/{{item.id}}" class="item-remove-animate">-->
      <!--Item {{ item.id }}-->
      <!--<ion-delete-button class="ion-minus-circled"-->
      <!--ng-click="onItemDelete(item)">-->
      <!--</ion-delete-button>-->
      <!--<ion-option-button class="button-assertive"-->
      <!--ng-click="edit(item)">-->
      <!--Edit-->
      <!--</ion-option-button>-->
      <!--<ion-option-button class="button-calm"-->
      <!--ng-click="share(item)">-->
      <!--Share-->
      <!--</ion-option-button>-->
      <!--<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>-->
      <!--</ion-item>-->

    </ion-list>

  </ion-content>
</ion-view>
