<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{item.name}}">

  <style>
    /* Empty. Add your own CSS if you like */
    li.msg {
      padding: 10px;
      position: relative;
      float: left;
      width: 70%;
      margin: 5px;
    }
    li.my.msg {
      float: right;
      background:#80CBC4;
    }

    li.you {
      background:#CFD8DC;
      margin-left: 20px;
    }

    li.you.msg::after {
      border-top:7px solid #CFD8DC;
      border-right:7px solid #CFD8DC;
      border-left:7px solid transparent;
      border-bottom:7px solid transparent;
      left:-7px;
    }
    li.my.msg::after {
      border-top:7px solid #80CBC4;
      border-right:7px solid transparent;
      border-left:7px solid #80CBC4;
      border-bottom:7px solid transparent;
      right:-7px;
    }

    li.msg::after{
      content: "";
      position: absolute;
      display: block;
      top:0;
    }
  </style>

  <ion-content class="padding">
    <ul>
      <li class="msg you">
        <img ng-src="{{item.face}}" style="width: 64px; height: 64px">
        <p>
          {{item.lastText}}
        </p>
        hi
      </li>
      <li class="msg my">Aloha</li>
    </ul>
  </ion-content>
</ion-view>
