<ion-view title="Login" id="page5" class=" ">
  <ion-content padding="true" class="has-header">
    <!--<div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">-->
      <!--&lt;!&ndash;<i class="icon ion-image"&ndash;&gt;-->
         <!--&lt;!&ndash;style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">&ndash;&gt;-->

      <!--&lt;!&ndash;</i>&ndash;&gt;-->
      <!---->
    <!--</div>-->
    <img src="img/002.gif">
    <form id="login-form1" class="list ">
      <ion-list id="login-list1" class=" ">
        <label class="item item-input " id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input " id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a href="#/tab/dash" id="login-button1"
         class=" button button-positive  button-block "
         >Log in</a>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button2"
         class=" button button-positive  button-block button-clear ">Or create an account</a>
    </form>
  </ion-content>
  <!---->
<!--</ion-view>-->

<!--&lt;!&ndash;<ion-view title="Login">&ndash;&gt;-->
<!--&lt;!&ndash;<ion-content>&ndash;&gt;-->
<!--&lt;!&ndash;<h2> 로그인</h2>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-content>&ndash;&gt;-->

<!--</ion-view>-->
